apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: guestbook
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/varshithakjayappa/argocd-practice.git
  #  targetRevision: main
    path: helm-guestbook
  destination:
    server: https://kubernetes.default.svc
    namespace: default
